.paraWrap { font-size: 1rem; }

@media (min-width: 576px) {
    .paraWrap { font-size: 1.25rem; }
}
@media (min-width: 768px) {
    .paraWrap { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    .paraWrap { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
    .paraWrap { font-size: 2rem; }
}


                                    /*html and body*/
html, body {
    margin: 0;
}

body {
    background-color: #000000 !important;
    box-sizing: border-box;
    font-family: "Helvetica", "Neue", "Helvetica", "Arial", "sans-serif";
    min-width: auto;
}

body > nav {
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.5em;
}


/*_____________________________________________________________________-*/


                                    /*Navbar*/

.navbar-nav {
    box-sizing: border-box;
    height: auto;
}

.navbar-brand {
    color: #B8860B !important;
}

                                    /*welcome page*/



#tCircle {
    margin-top: 3em;
}


#threeD {
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    grid-area: text;
    font-size: 20vmin;
    margin: 0;
    padding: 30px;
    color: #ff0000;
    text-shadow: 1vmin 1vmin 0 #ffff, -1vmin -1vmin 0 #808080;
}

#firstPara {
    height: 100%;
}

.color {
    color: red;
}

.wrapperOne {
    width: auto;
}

#name {
    margin: -0.5em;
}

#console {
    color: #B8860B;
}

#intro {
    margin-top: 5em;
    font-size: 2.5rem;
    width: 20em;
}

/*_____________________________________________________________________-*/


                                            /*About Me Section*/

/* Bar Graph Horizontal */


@-webkit-keyframes show-bar-one {
    0% {
        width: 0;
    }
    100% {
        width: 69.6%;
    }
}

@-webkit-keyframes show-bar-two {
    0% {
        width: 0;
    }
    100% {
        width: 71%;
    }
}

@-webkit-keyframes show-bar-three {
    0% {
        width: 0;
    }
    100% {
        width: 74.7%;
    }
}

@-webkit-keyframes show-bar-four {
    0% {
        width: 0;
    }
    100% {
        width: 76.8%;
    }
}

@-webkit-keyframes show-bar-five {
    0% {
        width: 0;
    }
    100% {
        width: 50.8%;
    }
}

@-webkit-keyframes fade-in-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.bar-graph .year {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
}

.bar-graph-horizontal {
    max-width: 20em;
}

.bar-graph-horizontal > div {
    float: left;
    margin-bottom: 8px;
    width: 50%;
}

.bar-graph-horizontal .chart {
    float: left;
    margin-top: 18px;
    width: 50px;
}

.bar-graph-horizontal .bar {
    border-radius: 3px;
    height: 40px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
}

.bar-graph-one .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 600;
    position: absolute;
    right: 16px;
}

.bar-graph-one .bar-one .bar {
    background-color: #778899;
    -webkit-animation: show-bar-one 1.2s 0.1s forwards;
    -moz-animation: show-bar-one 1.2s 0.1s forwards;
    animation: show-bar-one 1.2s 0.1s forwards;
}

.bar-graph-one .bar-two .bar {
    background-color: #778899;
    -webkit-animation: show-bar-two 1.2s 0.2s forwards;
    -moz-animation: show-bar-two 1.2s 0.2s forwards;
    animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-graph-one .bar-three .bar {
    background-color: #778899;
    -webkit-animation: show-bar-three 1.2s 0.3s forwards;
    -moz-animation: show-bar-three 1.2s 0.3s forwards;
    animation: show-bar-three 1.2s 0.3s forwards;
}

.bar-graph-one .bar-four .bar {
    background-color: #778899;
    -webkit-animation: show-bar-four 1.2s 0.4s forwards;
    -moz-animation: show-bar-four 1.2s 0.4s forwards;
    animation: show-bar-four 1.2s 0.4s forwards;
}

.bar-graph-one .bar-five .bar {
    background-color: #778899;
    -webkit-animation: show-bar-four 1.2s 0.5s forwards;
    -moz-animation: show-bar-four 1.2s 0.5s forwards;
    animation: show-bar-four 1.2s 0.5s forwards;
}



#aboutMe {
    font-size: 1.5em;
    color: #B8860B;
    margin-bottom: 1em;
    margin-top: 6em;
 }



.flow {
    overflow: auto;
}

#layer1 {
    background-color: #F5F5F5;
    border: 3px #F5F5F5;
    color: #190A05;
    opacity: 0.9;
    margin: auto;
    width: 75%;
}


#firstContentHeader {
    color: #B8860B;
}


#secondContentHeader {
    color: #B8860B;
}


#tCircle {
    width: 20em;
    height: auto;
}


.paraWrap {
    margin: auto;
}

#firstParaAboutMe {
    border: 3px #F5F5F5;
}


#secondParaAboutMe {
    border: 3px #F5F5F5;
}

#thirdParaAboutMe {
    border: 3px #F5F5F5;
}


#uiUxDesign {
    color: black;
}
/*________________________________________________*/


                                            /*Project Section*/


#project {
    margin-bottom: 2em;
    color: #B8860B;
    font-size: .9em;
}



h1,h2 {
    font-weight: 100;
    margin: 0.4em;
}


h2 {color: #888; font-size: 2em;}

#gram {font-size: 1.5em;}

#pwp {font-size: 1.5em;}
/*_________________________________________________*/

                                            /*Contact Section*/

#getInTouch {
    color: #B8860B;
    margin-top: 5em;
}

form { width:50em; margin:50px auto; }

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover { background:#CC4949; }


.btn-grad {background-image: linear-gradient(to right, #EB5757 0%, #000000  51%, #EB5757  100%)}
.btn-grad {
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 130% auto;
    color: white;
    box-shadow: 0 0 13px #eee;
    border-radius: 8px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}