@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

$rotationAmt: -12;


body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body > nav {
    background-color: black !important;
    font-size: 1.5em;
}

#topImage {
    margin-bottom: 3em;
}

.navbar-brand {
    color: #B8860B !important;
}


.color {
    color: red;
}

#intro {
    margin-top: 3em;
    width: 12em;
    height: auto;
    font-size: 3rem;
}

#secondPara {
    width: 3em;
    height: auto;
    font-size: 3rem;
}

#contactSection {
    color: #B8860B;
}

.rounded-circle {
    width: 19em;
    height: auto;
}

#myProjects {
    margin-bottom: 4em;
}

h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

h1 { font-size: 3.5em; }

h2 {color: #888; font-size: 2em;}


#threeD {
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    grid-area: text;
    font-size: 20vmin;
    margin: 0;
    padding: 30px;
    color: #1d9099;
    text-shadow: 1vmin 1vmin 0 #d9d4d4, -1vmin -1vmin 0 #6a160f;
}